#prof_nav_pic{    
    top: 0 !important;
    border-radius: 50%;
    height: auto;
    margin-top: 0;
    position: static !important;
}
#content {
    background-color: rgb(255,255,255);
    border-radius: 15px;
    padding: 25px 50px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
}
.pers, .norm{
 background-color: #7f752c;
    padding: 5px;
    border: 1px #7f752c solid;
    border-radius: 5px;
    margin: 5px;
}
.pers{
    margin-top: 5px;
    display: block;
    width: 42%;
    float: left;
}
.norm{
    margin-top: 5px;
    display: block;
    width: 42%;
    float: right;
}
.navbar-header img .per{
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 50%;
}
@media (max-width: 768px){
    #prof_nav_pic{    
    display: none;
    }
    .pers{
    margin: 0px;
    display: block;
    width: 100%;
    float: none;
    }
    .norm{
    margin: 0px;
    display: block;
    width: 100%;
    float: none;
    }
}
@media (max-width: 1065px){
    .pers{
    margin: 0px;
    display: block;
    width: 100%;
    float: none;
    }
    .norm{
    margin: 0px;
    display: block;
    width: 100%;
    float: none;
    }
    .norm span, .pers span{
    display: none;
    }
}
.stor .dropbox .progress-bar{
    width: 100%;
}
.stor .mega .progress-bar{
    width: 55%;
}
.stor .drive .progress-bar{
    width: 25%;
}
.stor i{
    font-size: 5em;
    text-align: center;
    width: 100%;
}
#wrapper .well{
    position: absolute;
    height: auto;
    width: 75%;
    margin: 15px;
}
@media (max-width: 768px) {
    #wrapper .well{
        width: 90%;
    }
}
#wrapper .stor{
    padding: 25px;
}
.stor .cap{
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.stor h4, .pack h4, .inv h4, .del h4{
    border-bottom: black 1px solid;
    padding-bottom: 5px;
}
.progress {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
#spec {
    background-color: transparent !important;
    padding: 5px !important;
    border: 0 !important;
    border-radius: 0px !important;
    width: 100% !important;
    margin-bottom: 5px !important;
    padding-left: 0 !important;
}
.pack a{
    margin-left: 10px;
}
.pack{
    padding:25px;
}
.inv{
    padding: 25px;
}
.del a{
    color: red !important;
}
.del{
    padding: 25px;
}
.text-danger{
    color: red !important;
}
#settings{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
#settings .col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0em;
}
#settings .col-md-4 label{
    padding-right: 1em;
}